.btn {
	width: 100%;
	padding: 15px 0;

	color: #ffffff;

	background-color: #3E9FFD;
	border: none;
	transition: background-color 0.2s;
}

.btn:hover {
	background-color: darken(#3E9FFD, 6%);
}